body {
  background: linear-gradient(to bottom, #5890B1, #EED78E);
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

h1 {
    border-bottom: 4px solid #FEFEBD;
    color: #FDFEA6;
}

h2 {
    margin-bottom: 0px;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
}

div {
    font-weight: 700;
}

p {
    margin-top: 0px;
    line-height: 1.2;
    font-weight: 600;
}

ul {
    padding-left: 12px;
    margin-left:10px;
}

ol {
    padding-left: 12px;
}

a {
    color: #658688;
    text-decoration-line: none;
}

a:hover {
    color: #AD235E;
}

li:nth-child(odd) {
    color: #962D3A;
}

li:nth-child(even) {
    color: #6F6EED;
}

.underline-heading{
    text-decoration:underline;
}

.fun-image:hover {
    transform: rotate(-15deg);
}

.float-right {
    float: right;
}